{% extends 'layout.html' %}
{% block content %}
<div class="container">
<h1>Lista de tareas</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <th scope="row">{{tarea.id}}</th>
            <td>{{tarea}}</td>
            <td>
                <a class="btn btn-danger" href="{% url 'eliminar' tarea.id %}">Eliminar</a>
                <a class="btn btn-primary" href="{% url 'editar' tarea.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}